@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Poppins', sans-serif;
  }
  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
    border: 1.5px solid black;
    padding: 7px;
    border-radius: 12px;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
  }
  p {
    color: black;
  }
.container {
    text-align: center;
    background: #f5f5f5;
}
.container1{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 20px 0px rgb(1,1,1,0.2);
}

.teams:hover {
    border-radius: 12px;
    transform: translateY(-15px);
}

.teams img {
    width: 200px;
    height: 200px;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.desig {
    font-style: italic;
    color: #888;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #444;
}

@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
}